body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
    text-align: center;
}
header {
    background-color: #7289DA; /* Discord Mavi */
    color: white;
    padding: 40px 0;
}
.buttons {
    margin: 30px 0;
}
.btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
}
.invite-btn {
    background-color: #4CAF50; /* Yeşil */
    color: white;
}
.support-btn {
    background-color: #3498db; /* Açık Mavi */
    color: white;
}
